@import "tailwindcss";

@theme {
  --font-family-title: "Accidental Presidency", "Comic Sans MS", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

#root {
  width: 100%;
  min-height: 100vh;
}
